* {
margin: unset;
padding:unset;
}
body{
background: linear-gradient(109.6deg, rgb(247, 202, 201) 20.6%, rgb(146, 168, 209) 85.9%); 
background-position: cover;
font-family:'Anek Bangla', sans-serif; 
}
nav{
    background: rgb(70, 38, 252);
    height: 3rem;
    line-height: 3rem;
    color:white;
    padding-left: 2rem;
margin-bottom: 1rem;
font-size: 27px;
font-family:'Alumni Sans Inline One', cursive;
}
#boy-icon{ 
    margin-top: 3px;
    margin-bottom: -4px;
    
}
.container {
    padding: 1rem;
}
#shopping-img{
    width: 45%;
    float: right;
    height: 100%;
}
#itemForm label{
display: block;
margin-bottom: 1rem;
color:  rgb(70, 38, 252);
font-size: 20px;
font-family:'Anek Bangla', sans-serif; 
}

#itemForm input{
    height: 2rem;
    text-align: center;
    border: 1px solid #efdcdc;
    font-family:'Anek Bangla', sans-serif; 
  
}
#quantityInput, #priceInput{
    width:3rem;
}

#addItemButton{
    background: #c81a2b;
    color: #ffff;
padding:0.5rem;
font-size: 16px;
border-radius: 8px;
border: 4px solid;
}

#itemsDiv{
    margin-top: 3rem;
margin-bottom: 2rem;
}
.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #eaeaea;
    margin-bottom: 0.5rem;
}
.checkbox {
    height: 100%; 
    width: 2.5rem;
}
.itemInfo {
    text-align: center;
}
.deleteButton{
    margin: 0 0 0 auto;
    border: unset;
    background: rgb(232, 13, 13);
    color: rgb(254, 254, 254);
    font-size: 0.8rem;
    width: 2.5rem;
    height: 100%;
    font-family:'Anek Bangla', sans-serif; 
}
.deleteButton:active{
    margin-bottom: 3px;
}
.purchased{
    background: rgb(146, 168, 209);
color: #ffff;
}
.purchased p {
    text-decoration: line-through;
}